.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  /* nullメッセージ */
  p.nullMessage {
    margin: 0 auto;
    text-align: center;
}
  /* ボトムナビゲーション */
.bookMark a{
  color: #ed5353;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }