ul.dropdown-menu.show {
    display: flex;
}
ul.navbar-nav {
    display: flex;
    align-items: center;
}
a.nav-link.active {
    font-size: 1.1rem;
}
/* SNS */
.sns-item {
    display: flex;
    align-items: center;
}
.sns-item a.dropdown-item {
    margin: 1rem 2rem;
}


/*iconsize*/
.size{
    font-size: 1.5em;
}

.profile:hover{
  color: #ff4500;
  transition: 20s ease;
}
i.fa-solid.fa-user.logo.profile {
    font-size: 1.4em;
}
button.navbar-toggler {
    padding: 4px;
}
.right{
    padding: 5px 28px 0 ;
    display: flex;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

#app-icon{
    height: 52px;
}